
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .btn{
        @apply inline-block px-5 py-3 rounded-xl
         uppercase tracking-wider font-semibold 
        text-sm sm:text-base hover:-translate-y-0.5 
        transform transition focus:outline-none 
        focus:ring focus:ring-offset-2 
        focus:ring-opacity-50;
    }

    .btn-primary{
        @apply bg-purple-600 hover:bg-purple-400
        sm:hover:bg-purple-800 focus:ring-purple-600 
        active:bg-purple-700;
    }
    .btn-secondary{
        @apply   
        bg-blue-600 hover:bg-blue-400
        sm:hover:bg-blue-800  
        focus:ring-blue-600 active:bg-blue-700;
    }
    .btn-gradient{
        @apply
        bg-gradient-to-r from-purple-500 via-pink-500 to-red-500
        hover:from-teal-500 hover:to-blue-500 hover:animate-pulse;
    }
    .emotecard{
        @apply 
        flex items-center overflow-hidden
        bg-teal-300 rounded-lg shadow-lg
    }
    .emote-image{
        @apply 
        flex-shrink-0 w-32 h-32
    }
    .card-twitch{
        @apply
        max-w-md px-8 py-12 mx-auto mt-6 mb-5 text-center bg-gray-300 
        rounded-3xl sm:max-w-xl lg:px-12 lg:py-24 lg:max-w-full xl:mr-0 
        2xl:col-span-2;
    }
    .nav{
        @apply
        border-b-2 border-blue-500 py-2 px-1 flex items-center
        justify-around;
    }
    .nav-list{
        @apply
        flex flex-row  pl-8
    }
    .list-items{
    @apply list-none px-2 py-2
    }
    .welcome{
        @apply
        text-gray-800 font-bold mr-2.5
    }
}
